/*--------------------
    1.Menu
    2.Footer
    3.Index
    4.Team end
    5.Reviews
    6.Patients Form
    7.Detail Procedure
    8.Contact us
    9.Payment
    10.Booking modal







---------------------*/

/*========= 1.Menu ========*/
._menu {
    background: #fff;
    padding: 13.5px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
}
._logo_pic{
    display: block;
}
._logo_img {
    height: 28px;
    width: auto;
}
._menu_list{}
._menu_list li:last-child{
    margin-right: 0px;
}
._menu_list li{
    display: inline-block;
    font-size: 14px;
    color: #565656;
    margin-right: 20px;
    font-weight: 600;
    position: relative;
}
._menu_list li a {
    font-size: 14px;
    color: #565656;
    font-weight: 600;
}
._menu_list li a:hover{
    color: #332480;
}
._menu_list li._menu_active{
    color: #332480;
}
._menu_list li._menu_active._menu_active a{
    color: #332480;
}
._lg_hidden{
    display: none;
}
._mobile_button {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 21px;
    z-index: 11;
}
._mobile_button i{}
._mobile_menu_bg{
    position: fixed;
    content: '';
    background: #0000006e;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 13;
    transition: .3s all ease;
    display: none;
}
._mobile_menu_bg._mobile_menu_bg_open{
    display: block;
}
._mobile_menu_close {
    position: absolute;
    top: 7px;
    right: 12px;
    font-size: 22px;
    color: #362688;
    z-index: 11;
}
._mobile_menu ._menu_list li {
    display: block;
    margin-right: 0px;
    padding: 0 0 20px;
}
._mobile_menu.mobileOpen{
    margin-left: 0px;
}
._mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    flex-direction: column;
    z-index: 15;
    margin-left: -100%;
    transition: .3s all ease;
    display: none;
}
._mobile_menu_main {
    background: #ffffff;
    flex: 1 1;
    overflow: auto;
    width: 260px;
    position: relative;
    z-index: 15;
    padding: 20px 20px 20px;
    border-top: 1px solid #ddd;
}
._mobile_menu_list{}
._mobile_menu_button{}
._menu_con{
    position: relative;
    z-index: 111;
}
._1menu_drop {
    position: absolute;
    background: #fff;
    width: 233px;
    right: -20px;
    top: 40px;
    border: 1px solid #d2cfcf;
    z-index: 11;
}
._1menu_drop_main::before {
    position: absolute;
    content: '';
    border-bottom: 10px solid #d2cfcf;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    right: 41px;
    top: -9px;
    z-index: -1;
}
._1menu_drop_main::after {
    position: absolute;
    content: '';
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    right: 41px;
    top: -8px;
    z-index: 0;
}
._1menu_drop_main {
    position: relative;
    background: #fff;
    padding: 9px 20px;
}
._1menu_drop_title {
    font-size: 14px;
    color: #565656;
    font-weight: 600;
    cursor: pointer;
}
._1menu_drop_title i {
    font-size: 20px;
    margin-left: 3px;
}
._1drop_list{}
._1drop_list li {
    display: block;
    padding: 8px 0;
}
._1drop_list li a{}
/*========= 1.Menu end ========*/

/*========= 2.Footer ========*/
._footer {
    background: #fafafa;
    padding: 53px 0 0;
}
._footer ._1text {
    color: #7b7b7b;
    margin: 43px 0 34px;
    text-align: justify;
}
._footer_logo {
    width: auto;
    height: 28px;
}
._footer_social{}
._footer_social li {
    display: inline-block;
    margin-right: 7px;
}
._footer_social li a {
    border: solid 1px #7b7b7b;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 15px;
    color: #7b7b7b;
}
._footer_title {
    font-size: 18px;
    color: #959595;
    margin-bottom: 37px;
}
._footer_main {
    display: flex;
    align-items: flex-start;
    margin-top: 17px;
}
._footer_main_details{}
._footer_main_day {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 600;
    margin: -1px 0 0;
}
._footer_menu{}
._footer_menu li {
    display: block;
    margin: 13px 0 0;
}
._footer_menu li a {
    color: #3c3c3c;
    font-size: 14px;
    font-size: 14px;
    font-weight: 600;
}
._footer_menu li a:hover{}
._footer_main_value {
    font-size: 13px;
    color: #656565;
    margin: 3px 0 0;
}
._footer_icon {
    flex: 0 0 23px;
}
._footer_bottom {
    padding: 30px 0 30px;
}
._footer_bottom_text {
    color: #959595;
}
/*========= 2.Footer end ========*/

/*========== 3.Index =========*/
._1banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}
._1banner_pic:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-245deg, #2b00ff59 47%, #2b00ff9e 72%);
    background-image: linear-gradient(-247deg, #332480 100%, #8e77ff 4%);
    background: linear-gradient(-90deg, rgba(37, 25, 99, 0.95) 0%, rgba(124, 99, 244, 0.75) 100%);
}
._1banner_pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 600px;
}
._1banner_img{}
._1banner_call {
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 11;
    background: #fff;
    height: 61px;
    display: flex;
    align-items: center;
    padding: 0 24px 0 37px;
    border-radius: 50px 0px 0px 50px;
}
._1banner_call_a i {
    transform: rotate(84deg);
    margin-right: 6px;
}
._1banner_call_a {
    color: #383838;
    font-size: 20px;
    font-weight: bold;
}
._1banner_call_a:hover {
    color: #383838;
}
._1banner_items{}
._1banner_title {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    line-height: 41px;
}
._1banner_status {
    color: #fff;
    padding: 13px 0 33px;
}
._1banner_btn:hover {
    background: #ec7c27;
    color: #fff;
}
._1banner_btn:active {
    color:#fff;
    background: #c56014;
}
._1banner_btn {
    border: none;
    background: #fe9648;
    color: #fff;
    font-size: 14px;
    padding: 12px 32px;
    border-radius: 7px;
}
._1banner_main {
    margin-top: 130px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 230px;
    left: 50%;
    transform: translateX(-50%);
}
._1banner_slider .owl-dot span {
    width: 22px !important;
    height: 5px !important;
    margin: 0px 5.5px !important;
    background: #fff !important;
    opacity: .6 !important;
}
._1banner_slider .owl-dot:hover span {
    opacity: 1 !important;
}
._1banner_slider .owl-dot.active span{
    background: #ffffff !important;
    width: 40px !important;
    opacity: 1 !important;
}
._cat_section {
    background: #f8f8f8;
}
._cat_card_title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #383838;
}
._cat_card_img {
    width: 69px;
    margin: 0 auto 33px;
}
._cat_card {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 15px 0;
    margin-top: -102px;
    z-index: 10;
    position: relative;
}
._ser_section {
    background: #f8f8f8;
    padding-top: 65px;
    padding-bottom: 80px;
}
._ser_section_cards {
    padding-top: 45px;
}
._ser_card:hover  i {
    color: #fff;
}
._ser_card:hover ._ser_card_title {
    color: #fff;
}
._ser_card {
    align-items: center;
    height: 95px;
    padding: 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    transition: .3s all ease;
}
._ser_card_img {
    width: auto;
    height: 30px;
    margin: 0 auto;
}
._ser_card_title {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    transition: .3s all ease;
}
._ser_card_pic {
    flex: 0 0 55px;
    padding-right: 10px;
}
._schedule {
    background-image: url(/images/bg.png);
    height: 133px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
._schedule_title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}
._schedule_btn {
    border: none;
    height: 56px;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 12px 40px 0 #2d1e77;
    background-image: linear-gradient(261deg, #ffffff 109%, #ffffff 31%);
    border-radius: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    color: #454545;
    padding: 0 46px 0;
}
._schedule_btn img {
    height: 12px;
    width: auto;
    margin-left: 12px;
}
._team {
    background: #fff;
    padding: 70px 0 42px;
}
._team_top {
    margin-bottom: 77px;
}
._team_main {
    background-image: url(/images/dots.png);
    background-size: 349px auto;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 73px;
    margin-bottom: 50px;
    position: relative;
}
._team_img {
    border-radius: 10px;
}
._team_main_details ._1text {
    margin-top: 27px;
    color: #7b7b7b;
}
._team_main_details ._btn_gradient_default {
    margin-top: 37px;
}
._team_main_details {
    padding: 0px 0 9px 23px;
}
._team_cards{}
._1card_pic {
    height: 350px;
    overflow: hidden;
    position: relative;
}
._1card:hover ._1card_delete {
    opacity: 1;
    transform: scale(1);
}
._1card_delete {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transform: scale(.4);
    transition: .3s all ease;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #0000003b;
    padding: 16px 00 10px;
}
._1card_delete_btn {
    border: none;
    background: transparent;
    font-size: 31px;
    color: #c90606;
}
._1card_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
._1card_details {
    padding: 20px 15px 15px;
}
._1card_name {
    line-height: 25px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7px;
}
._1card_status {
    color: #8d8d8d;
    font-size: 18px;
    text-align: center;
    line-height: 23px;
}
._cantact_sec {
    padding-top: 53px;
    background: #fff;
    padding-bottom: 73px;
}
._cantact_sec_top {
    margin-bottom: 82px;
}
._cantact_card {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
}
._cantact_card_img {
    height: 24px;
    width: auto;
    display: inline-block;
}
._cantact_card_details {
    padding: 0 0 0 18px;
    overflow: hidden;
    flex: 1 1;
}
._cantact_sec_mail:hover ._cantact_sec_num._cantact_sec_mail_text {
    overflow: visible;
    box-shadow: 0px 0px 4px 1px #ddd;
    padding: 10px 15px;
    width: auto;
    left: -15px;
    top: 0px;
    background: #fff;
    z-index: 1;
}
._cantact_sec_mail {
    height: 19px;
    position: relative;
    margin-top: 4px;
}
.nonn  ._cantact_sec_num {
    font-size: 14px !important;
    color: #8d8d8d !important;
}
._cantact_sec_mail:hover ._cantact_sec_num._cantact_sec_mail_text {
    overflow: visible;
    box-shadow: 0px 0px 4px 1px #ddd;
    padding: 10px 15px;
    width: auto;
    left: -15px;
    top: 0px;
    background: #fff;
    z-index: 1;
}
._cantact_sec_mail {
    height: 19px;
    position: relative;
    margin-top: 4px;
}
.nonn:hover ._cantact_card_details{
    overflow: visible;
}
.nonn:hover{
    overflow: visible;
}
._cantact_sec_num._cantact_sec_mail_text {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    transition: .3s all ease;
    position: absolute;
    overflow: hidden;
    padding: 10px 15px;
    width: auto;
    left: -15px;
    top: -9px !important;
    background: no-repeat;
    z-index: 1;
    width: 100%;
}
._cantact_card_title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 22px;
    margin: 4px 0 0;
}
._cantact_card_value {
    font-size: 14px;
    color: #8d8d8d;
    margin: 6px 0 0;
}
._cantact_card_icon {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex: 0 0 auto;
    overflow: hidden;
}
._cantact_sec_main{}
._cantact_sec_main ._1title {
    font-size: 35px;
    margin-bottom: 42px;
}
._cantact_sec_form{}
._cantact_sec_group{}
._cantact_sec_group input:focus, ._cantact_sec_group textarea:focus {
    outline: none !important;
    border: none !important;
    border-bottom: 2px solid #c4c4c4 !important;
    box-shadow: none;
}
._cantact_sec_group input::-webkit-input-placeholder,  ._cantact_sec_group textarea::-webkit-input-placeholder{ 
    color: #656565;
}
.dbngohodfg ._1card_delete {
    justify-content: center;
    width: 100%;
}
.dbngohodfg{
    position: relative;
}
.dbngohodfg:hover ._1card_delete{
    bottom: 0;
    opacity: 1;
    transform: scale(1);
}
#div1{
    margin-top: -100px;
    padding-top: 100px;
}
._cantact_sec_group input::-moz-placeholder, ._cantact_sec_group textarea::-moz-placeholder{ 
    color: #656565;
}
._cantact_sec_group input:-ms-input-placeholder, ._cantact_sec_group textarea:-ms-input-placeholder{
    color: #656565;
}
._cantact_sec_group input:-moz-placeholder, ._cantact_sec_group textarea:-moz-placeholder{
    color: #656565;
}
._cantact_sec_group input, ._cantact_sec_group textarea {
    font-size: 18px !important;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    width: 100%;
    padding: 15px 0;
    font-weight: 600;
    box-shadow: none;
    border-radius: 0px;
    font-family: 'Source Sans Pro', sans-serif !important;
    height: 57px;
}
._cantact_sec_title {
    font-size: 18px;
    color: #656565;
    font-weight: bold;
    margin: 0 0 12px;
}
._cantact_sec_num {
    font-size: 13px;
    color: #656565;
    margin-top: 4px;
}
._cantact_sec_map iframe{
    height: 360px;
    width: 100%;
}
._cantact_sec_map {
    margin-top: 39px;
}
/*========== 3.Index end =========*/

/*========== 4.Team =========*/
._2patientForms_pic {
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
}
._2patientForms_pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
._1header {
    position: relative;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/pros.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
._1header:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    background-image: linear-gradient(263deg, #332480d9 33%, #8e77ff96 60%);
    background-image: linear-gradient(-90deg, rgba(37, 25, 99, 0.95) 0%, rgba(124, 99, 244, 0.75) 100%);
    height: 100%;
    width: 100%;
    /* background: linear-gradient(-90deg, rgb(51, 36, 128) 0%, rgb(142, 119, 255) 100%); */
    /* opacity: .08; */
}
._1header_title {
    color: #fff;
    z-index: 1;
    font-weight: bold;
    font-size: 36px;
}
._team ._1banner_call {
    background: #6647ff;
    box-shadow: 0 10px 30px 0 rgba(110, 110, 110, 0.45);
}
._team ._1banner_call_a:hover {
    color: #fff;
}
._team ._1banner_call_a {
    color: #fff;
}
._team{
    position: relative;
}
/*========== 4.Team end =========*/

/*========== 5.Reviews =========*/
._pages ._1banner_call {
    background: #6647ff;
    box-shadow: 0 10px 30px 0 rgba(110, 110, 110, 0.45);
}
._pages ._1banner_call_a {
    color: #fff;
}
._pages ._1banner_call_a:hover {
    color: #fff;
}
._pages._2patientForms_main_all {
    padding-top: 0px;
}
._pages {
    position: relative;
    background: #fff;
    padding: 61px 0 100px;
    z-index: 1;
}
._2patientForms_main {
    background: #f8f8f8;
    margin-bottom: -46px;
    padding-bottom: 21px;
    padding-top: 63px;
}
._pages_before:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    height: 458px;
    width: 100%;
    z-index: -1;
    background-color: #f8f8f8;
}
._ser_listss._pages_before:before {
    height: 488px;
}
._ser_card i{
    font-size: 34px;
    color: #333;
    transition: .3s all ease;
}
._ser_listss {
    padding-bottom: 104px;
    background: #fff;
}
._ser_listss ._ser_card:hover ._ser_card_img{
    display: none;
}
._ser_listss ._ser_card:hover ._ser_card_img2{
    display: block !important;
}
._ser_listss ._ser_card:hover i{
    color: #fff;
}
._ser_card_img2{
    display: none;
}
._ser_listss ._ser_card:hover ._ser_card_title{
    color: #fff;
}
._ser_listss ._ser_card:hover{
    background: #6647ff;
}
._ser_section ._ser_card:hover{
    background: #6647ff;
}
._ser_listss ._ser_card {
    cursor: pointer;
    transition: .3s all ease;
}
._1ser_main ._pages_main ._2title {
    text-align: left !important;
    margin-bottom: 30px;
}
._1ser_main ._pages_main ._1text {
    font-size: 14px;
    text-align: left;
    color: #4e4e4e;
    line-height: 20px;
    margin-bottom: 16px;
}
._ser_listss ._ser_section_cards {
    position: relative;
    z-index: 1;
    padding-top: 0;
}
._1ser_main._pages {
    background: #f8f8f8;
    margin-bottom: -48px;
    padding-bottom: 124px;
    padding-top: 72px;
}
._pages_main ._text_left{
    text-align: left !important;
}
._pages_before{
    position: relative;
}

._pages_main{}
._pages_main ._1text {
    font-size: 16px;
    text-align: center;
    color: #4e4e4e;
    line-height: 31px;
}
._review_card {
    padding: 49px 60px;
}
.review_title {
    color: #303030;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
}
._image_upload ._1label {
    margin-bottom: 0;
    flex: 1 1;
}
._image_upload {
    display: flex;
    align-items: center;
}
._image_upload i {
    height: 12px;
    width: 12px;
    font-size: 6px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    bottom: 5px;
    right: 3px;
}
._1upload{}
._upload_image {
    height: 67px;
    width: 67px;
    border-radius: 100%;
    flex: 0 0 auto;
    position: relative;
}
._image_upload_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}
._1upload_upload {
    flex: 0 0 auto;
}
._1upload .ivu-upload-drag {
    height: 67px;
    width: 67px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}
._image_upload_pic {
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    margin-right: 13px;
    display: flex;
    align-items: center;
}
._upload_text {
    font-size: 18px;
    font-weight: 600;
    color: #777777;
    flex: 1 1;
    padding-left: 20px;
}
._1upload_edit{
    position: absolute;
    bottom: 1px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: #332480;
    border-radius: 100%;
    color: #fff;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
._1upload_main{}
._1upload_icon{}
._1rating{}
._1rating li {
    display: inline-flex;
    font-size: 24px;
    color: #d4d0d0;
    margin-right: 5px;
    cursor: pointer;
}
._1rating li:hover{
}

._1rating li._1rating_active{
        color: #ff8c36 !important;
}
._1rating_active{
    color: #ff8c36 !important;
}
._add_image {
    display: flex;
    align-items: center;
}
._add_image li:hover ._add_image_icon{
    bottom: 0;
}
._add_image_icon {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    bottom: -100%;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 17px 9px;
    background: #0000003d;
    font-size: 15px;
    transition: .3s all ease;
}
._add_image_edit {
    color: white;
    cursor: pointer;
}
._add_image_delete {
    color: #d81717;
    cursor: pointer;
}
._add_image li {
    position: relative;
    width: 130px;
    height: 121px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-right: 11px;
    flex-direction: column;
}
._add_image_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
._add_image li._add_image_upload {
    color: #332480;
    background: #e4dfff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}
._add_image_upload .ivu-upload-drag {
    background: transparent;
    border: 0px dashed #dcdee2;
    width: 130px;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}
._add_image_upload .ivu-upload-drag:hover {
    border: 0px dashed #2d8cf0;
}
._add_image_upload i{}
._add_image_upload ._add_image_upload_img {
    width: 26px;
    margin-bottom: 8px;
    margin: 0 auto 10px;
}
._review_card._review_comm {
    padding: 40px 30px;
}
._review_comm_th {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0 13px;
}
.reviewer {
    flex: 0 0 250px;
    overflow: hidden;
}
.reviewer_title {
    color: #303030;
    font-size: 16px;
    font-weight: bold;
}
.review ._1text {
    color: #9a9a9a;
    text-align: left;
    line-height: 26px;
}
.review {
    flex: 1 1;
    overflow: hidden;
    padding: 0 20px 0;
}
.status {
    flex: 0 0 170px;
    display: flex;
    align-items: flex-start;
    position: relative;
}
._review_comm_items:last-child {
    border-bottom: 1px solid;
}
._review_comm_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid;
    padding: 18px 0 25px;
}
.reviewer_pro {
    display: flex;
    align-items: center;
}
.reviewer_pro_img {
    height: 51px;
    width: 51px;
    border-radius: 100%;
    margin-right: 10px;
    flex: 0 0 auto;
}
.reviewer_pro_name {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    flex: 1 1;
    overflow: hidden;
}
.review_top {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 13px;
}
._2rating{
    display: flex;
    align-items: center;
}
._2rating li {
    display: block;
    margin-right: 3px;
    font-size: 21px;
}
._2rating_active {
    color: #ffa35e;
}
.review_date {
    color: #959595;
    font-size: 13px;
    margin-left: 6px;
}
.status_drop {
    padding: 6px 6px 0;
    font-size: 18px;
    color: #aba8a8;
    margin-left: 11px;
    cursor: pointer;
}
._drop_modal {
    width: 318px;
    height: 161.4px;
    box-shadow: 0 14px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    padding: 31px 26px 0;
    top: 42px;
}
.Rectangle_coustom:before {
    position: absolute;
    content: '\f06a';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 21px;
}
.Rectangle_coustom {
    color: #ce3434;
    background: #efadad;
    position: relative;
    padding: 11px 20px 11px 50px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}
._drop_modal_title {
    color: #303030;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 23px;
    text-align: center;
}
._drop_modal_buttons button{
    min-width: 100px;
}
._drop_modal_buttons ._btn_gradient_default i {
    padding-left: 0;
    margin-right: 11px;
}
._drop_modal_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.status .reviewer_title {
    padding-left: 10px;
}
.status_drop i{}
._review_buttons {
    text-align: center;
    border-top: 1px solid #e8dfdf;
    padding: 15px 0 0;
    margin-top: 15px;
    display: none;
}
._1ser_details {
    position: relative;
    background-image: url(/images/dots2.png);
    background-repeat: no-repeat;
    background-position: top 43px right;
    background-size: 600px auto;
    padding: 49px 0 70px;
}
._1ser_details ._1banner_call {
    background: #6647ff;
    box-shadow: 0 10px 30px 0 rgba(110, 110, 110, 0.45);
}
._1ser_details ._1banner_call_a {
    color: #fff;
}
._1ser_details_main{
}
._1ser_details_pic{
    margin-bottom: 50px;
}
._1ser_details_img{}
._1ser_details .back {
    margin-bottom: 40px;
}
._1ser_details_title {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 33px;
    padding-top: 29px;
}
._1ser_details_text {
    font-size: 16px;
    line-height: 32px;
    color: #4e4e4e;
    margin-bottom: 30px;
    text-align: justify;
}
._kjsbd{
    padding-left: 40px;
}
._1ser_details_list {
    padding: 0 0 45px 32px;
}
._ser_section_cards a{
    display: block;
}
._1ser_details_list li {
    color: #4e4e4e;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
    list-style: none;
    padding-left: 25px;
    text-align: justify;
}
._1ser_details_list li::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border: solid 3px #6647ff;
    border-radius: 100%;
    top: 15px;
    left: 0;
}
/*========== 5.Reviews end =========*/

/*========== 6.Patients Form =========*/
._patientForms_header_left{}
._patientForms_header_pic {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 53px;
}
._patientForms_header_pic img {
    border-radius: 10px;
}
._patientForms_header_imgOne img{
        position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
._pages_main._patientForms_top ._1text {
    color: #4e4e4e;
    text-align: justify;
    margin: 51px 0 102px;
}
._patientForms_header_imgOne {
    flex: 0 0 56%;
    position: relative;
}
._patientForms_header_imgTwo {
    flex: 0 0 36%;
}
._patientForms_top {
    background-image: url(/images/dots2.png);
    background-repeat: no-repeat;
    background-size: 437px auto;
    background-position: right top 46px;
}
._patientForms_cat{}
._patientForms_card_title {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    flex: 1 1;
    overflow: hidden;
    padding: 0 24px 0 0;
    line-height: initial;
}
._patientForms_card_errow {
    width: 8px;
    flex: 0 0 auto;
}
._patientForms_card {
    display: flex;
    align-items: center;
    height: 98px;
    padding: 0 36px 0 60px;
}
/*========== 6.Patients Form end =========*/

/*========== 7.Detail Procedure ==========*/
.back {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 18px;
    cursor: pointer; 
}
.back i {
    padding: 3px 7px 0 0;
}
._details_list{}
._details_list_ul{}
._details_list_ul li {
    position: relative;
    color: #3b3b3b;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    display: block;
    padding: 0 0 0 47px;
    margin: 0 0 23px;
}
._details_list_ul li:before {
    position: absolute;
    content: '\f00c';
    background: #6647ff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    border-radius: 100%;
    left: 0;
    top: -1px;
}
/*========== 7.Detail Procedure end ==========*/

/*========== 8.Contact us ==========*/
._contact_main {
    background-image: url(/images/dots2.png), url(/images/dots2.png);
    background-repeat: no-repeat;
    background-size: 437px auto;
    background-position: right top 46px, bottom 35px left;
}
/*========== 8.Contact us end ==========*/

/*========== 9.Payment ==========*/
.payment{}
.payment._patientForms_top ._1text {
    color: #4e4e4e;
    text-align: left;
    margin: 31px 0 0px;
}
._insurance {
    background: #f8f8f8;
    padding: 60px 0 198px;
    margin: 83px 0 0;
}
._insurance ._1text {
    font-size: 16px;
    color: #4e4e4e;
    line-height: 32px;
}
._pay_card_all {
    margin-top: -129px;
}
._pay_card {
    height: 100%;
    padding: 37px 25px 29px;
}
._pay_card_list{}
._pay_card_list li {
    position: relative;
    font-size: 20px;
    color: #3b3b3b;
    font-weight: 600;
    display: block;
    padding: 0 0 24px 32px;
    line-height: 28px;
}
._pay_card_list li:before {
    position: absolute;
    content: '';
    border: 3px solid #6647ff;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #fff;
    left: 0;
    top: 6px;
}
._payment_system {
    padding-top: 74px;
}
._payment_system ._1text {
    color: #4e4e4e;
    font-size: 16px;
    text-align: center;
    margin: 21px 0 25px;
}
._payment_system_main{}
._payment_system_pic {
    display: flex;
    border: solid 4px #e6e6e6;
    border-radius: 20px;
    padding: 22px 48px;
    align-items: center;
    justify-content: space-between;
}
._payment_system_pic li {
    display: block;
    flex: 0 0 12%;
}
._payment_system_pic li img{}
.more_team{
    display: none;
}
/*========== 9.Payment end ==========*/

/*========== 10.Booking modal ==========*/
._book_modal {
    padding: 36px 60px;
}
._booking_title {
    font-size: 24px;
    color: #303030;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
._booking_text {
    color: #737373;
    font-size: 16px;
    text-align: center;
    margin-bottom: 71px;
}
._book_modal ._booking_step {
    margin-bottom: 39px;
}
._booking_step {
    display: flex;
    align-items: center;
}
._booking_step_text {
    font-size: 18px;
    font-weight: bold;
}
._booking_step_num {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 17px;
    flex: 0 0 auto;
    margin-right: 15px;
}
._booking_form_label{
    font-size: 18px;
    color: #777777;
    margin-bottom: 10px;
    font-weight: bold;
}
._booking_form{}
._booking_form_input {
    margin-bottom: 25px;
}
._thank {
    padding: 50px 90px;
}
._thank ._booking_text {
    margin-bottom: 27px;
    margin-top: 36px;
}
._thank_check {
    height: 100px;
    width: 100px;
    background-image: linear-gradient(84deg, #332480 1%, #6647ff 123%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin: 30px auto 0;
    color: #fff;
    justify-content: center;
    font-size: 58px;
}
._booking_button{}
._1rev_pre{
    font-size: 14px;
    color: #959595;
}
._1rev_name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 6px;
}
._1rating{}
._1rating li{}
._1rating li i{}
._1rating li._1rating_active{}
._1rev_main {
    padding: 33px 35px 32px;
}
._1rev_top {
    display: flex;
    align-items: center;
}
._1rev_pic{
    flex: 0 0 auto;
}
._1rev_img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 14px;
}
._1rev_details {
    flex: 1 1;
    overflow: hidden;
}
._1ser_main._pages._1rev_alls {
    margin-bottom: -113px;
    padding-bottom: 154px;
}
._noter{
    font-weight: bold;
    color: #959595;
    text-align: center;
    font-size: 20px;
    margin-top: 200px;
}
._1rev_name{}
._1rev_pre2 {
    font-size: 14px;
    color: #959595;
    padding: 4px 0 0;
}
._1rev_rating {
    flex: 0 0 auto;
}
._1rev_status{}
._1rev_status_text {
    font-size: 16px;
    line-height: 32px;
    color: #9a9a9a;
    text-align: justify;
    margin-top: 32px;
}
/*========== 10.Booking modal end ==========*/


/*Small Device*/
@media only screen and (max-width: 767px){
._col_hidden{
    display: none;
}
._col_visible{
    display: block;
}
.prime_review {
    flex: 0 0 100%;
    padding: 17px 0 0 !important;
}
._logo_img{
    margin: 0 auto;
    height: 19px;
}
._menu {
    padding: 20.5px 40px;
}
._kjsbd{
    padding-left: 15px;
}
._ser_section_cards a{
    display: block;
    height: 100%;
}
.mobile_prime.prime{
    display: flex !important;
    padding-left: 65px;

}
.mobile_prime.prime_text{
    display: flex !important;
}
._ser_card i {
    flex: 0 0 auto;
    display: block;
    text-align: center;
    margin-top: 0;
}
._1header_pic{
    display: none;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    bottom: -53px;
}
._1banner_main {
    margin-top: 111px;
    text-align: center;
}
._1banner {
    height: auto;
    padding-bottom: 168px;
}
._1banner .owl-carousel {display: block;}
._ser_section ._1title {
    width: 85%;
    margin: 0 auto;
}
._ser_card_title {
    text-align: center;
}
._ser_section_cards{
    padding-left: 5px;
    padding-right: 5px;
}
._1ser_details ._1banner_call {
    display: none;
}
._1ser_details {
    background-size: 200px auto;
    padding: 20px 0 30px;
}
._1ser_details .back {
    margin-bottom: 20px;
}
._1ser_details_title {
    margin-bottom: 18px;
    padding-top: 10px;
}
._1ser_details_text {
    margin-bottom: 20px;
}
._ser_section_cards .col-6 {
    margin-bottom: 20px;
    padding: 0 10px 0;
}
._ser_card {
    height: 100%;
    padding: 25px 20px 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
}
._ser_card_img {
    margin: 0 auto 12px;
}
._schedule_btn {
    letter-spacing: 1px;
    padding: 0 30px 0;
}
._schedule {
    height: 250px;
    text-align: center;
}
._schedule_title {
    padding: 0 14px 24px;
}
._1banner_img {
    min-height: 100%;
    width: auto;
}
._team_top ._btn_gradient_default {
    display: none;
}
._1title {
    text-align: center;
}
._1title_span:before {
    left: 50%;
    transform: translateX(-50%);
}
._team_top {
    margin-bottom: 17px;
}
._team_main_details {
    padding: 26px 0 9px 0px;
}
._team_main_details ._1title_span:before {
}
._1card_delete_btn {
    font-size: 20px;
}
._team_main {
    background-position: top 50px left;
    margin-bottom: 0;
    padding-bottom: 28px;
    background-size: 60% auto;
}
._team_main_details {
    text-align: center;
}
._team_main_details ._1text{
    text-align: left;
}
._1card_pic {
    height: 130px;
}
.more_team{
    display: block;
}
._cantact_card {
    margin-bottom: 27px;
}
._cantact_sec {
    padding-top: 13px;
    padding-bottom: 32px;
}
._cantact_sec_top {
    margin-bottom: 29px;
}
._cantact_sec_form ._btn_gradient_default {
    width: 100%;
}
._cantact_sec_title {
    margin: 28px 0 12px;
}
._footer_logo {
    margin: 0 auto;
}
._footer_social {
    border-bottom: 1px solid #d6cccc;
    margin: 0 0 25px;
    padding-bottom: 19px;
        text-align: center;
}
._footer_title {
    margin-bottom: 16px;
    text-align: center;
    margin-top: 35px;
}
._footer_title {
    text-align: center;
}
._footer_menu {
    text-align: center;
    padding: 0 0 0px;
}
.Contact ._footer_main {
    justify-content: center;
}
._footer_bottom {
    text-align: center;
}
._pages ._1banner_call {
    display: none;
}
._patientForms_top {
    background-image: none;
}
._pages  ._1title {
    text-align: left;
}
._pages ._1title_span:before {
    left: 0;
    transform: inherit;
}
._patientForms_card {
    padding: 0 46px 0 41px;
    line-height: 38px;
}
._pages_main._patientForms_top ._1text {
    margin: 25px 0 36px;
}
._pages {
    padding: 30px 0 32px;
}
._contact_main {
    background-image: none;
}
._review_card {
    padding: 24px 20px;
}
._review_comm_th {
    display: none;
}
._review_card._review_comm {
    padding: 0;
    box-shadow: none;
}
._review_comm_items {
    display: block;
    flex-wrap: wrap;
    border-top: none;
    box-shadow: 0 14px 40px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    margin-bottom: 20px;
}
.review {
    padding: 22px 0 33px;
}
.review_top {
    justify-content: space-between;
}
.status {
    justify-content: center;
    border-top: 1px solid #e8dfdf;
    padding: 15px 0 0;
}
.status_drop {
    display: none;
}
._review_buttons{
    display: block;
}
._book_modal {
    padding: 6px 0px;
}
._thank {
    padding: 20px 0px;
}
._mobile_menu{
    display: flex;
}
.ivu-modal-content {
    border-radius: 17px !important;
}
.ivu-modal-body {
    padding: 40px 20px !important;
}
._booking_title {
    width: 86%;
    margin: 0 auto 20px;
}
._booking_text {
    width: 88%;
    margin: 0 auto 31px;
}
._book_modal ._booking_step {
    margin-bottom: 17px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}
._booking_form {
    margin-bottom: 12px;
}
._team ._1banner_call {
    display: none;
}
._team {
    padding: 30px 0 42px;
}
._1card_delete {
    bottom: 0;
    right: 10px;
    opacity: 1;
    transform: scale(1);
    padding: 8px 00 3px;
}
._1banner_call {
    display: none;
}
._1banner ._1banner_call {
    display: flex;
}
._2patientForms_main {
    margin-bottom: -46px;
    padding-bottom: 88px;
    padding-top: 63px;
    background-image: url(/images/dots2.png) !important;
    background-position: bottom 111px center !important;
}
._pay_card {
    height: auto;
    margin-bottom: 20px;
}
._insurance ._1title_span:before {
    left: 50%;
    transform: translateX(-50%);
}
._payment_system ._1title_span:before {
    left: 50%;
    transform: translateX(-50%);
}
._payment_system ._1title {
    text-align: center;
}
._insurance ._1title {
    text-align: center;
}
._review_card ._btn_gradient_default {
    width: 100%;
}
._review_card ._review_buttons ._btn_gradient_default {
    width: auto;
}
._1ser_main ._patientForms_header_left {
    margin-top: 33px;
}
._1ser_main._pages {
    padding-bottom: 67px;
    padding-top: 30px;
}
._ser_listss {
    padding-bottom: 38px;
}
}
/*Small Device*/

/*Medium Device*/
@media only screen and (min-width: 768px) and (max-width: 1050px){
._col_md_hidden{
    display: none;
}
._mobile_menu{
    display: flex;
}
.prime_review {
    flex: 0 0 100%;
    padding: 17px 0 0 !important;
}
._col_md_visible{
    display: block;
}
.more_team{
    display: block;
}
._patientForms_card {
    padding: 0 20px 0 20px;
    line-height: 31px;
}
._patientForms_header_pic {
    height: 339px;
}
._pages {
    padding: 40px 0 35px;
}
._ser_card_title {
    font-size: 15px;
}
._footer_logo {
    height: 34px;
    margin: 0 auto;
}
._menu {
    padding: 20.5px 40px;
}
._footer ._1text {
    margin: 33px 0 30px;
    text-align: center;
}
._footer_social {
    text-align: center;
    margin-bottom: 48px;
}
._mobile_button {
    position: inherit;
    left: 0;
    top: 0;
    transform: inherit;
    padding-right: 10px;
}
._1card_pic {
    height: 150px;
    position: relative;
}
._cantact_card {
    margin: 10px 0;
}
._cantact_sec_form {
    margin-bottom: 60px;
}
._cantact_sec {
    padding-bottom: 54px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    bottom: -24px;
}
._pages ._1banner_call {
    display: none;
}
._contact_main {
    background-image: none;
}
.reviewer {
    flex: 0 0 164px;
}
.status {
    flex: 0 0 152px;
}
._book_modal {
    padding: 30px 30px;
}
._1banner_items .row{
    align-items: flex-end;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    bottom: -75px !important;
}
._team_main {
    background-size: 200px auto;
    background-position: top left;
    margin-bottom: 0;
}
._1card_delete {
    bottom: 5px;
    right: 10px;
    opacity: 1;
    transform: scale(1);
}
._1banner_call {
    display: none;
}
._1banner ._1banner_call {
    display: flex;
}
._mobile_menu {
    padding-top: 73px;
}
._mobile_menu_button {
    display: none;
}
._patientForms_top {
    background-size: 237px auto;
    background-position: right top 16px;
}
._pay_card {
    height: 266px;
    margin-top: 30px;
}
}
/*Medium Device*/


/* updated by Pranto */

._new_pages_bg {
    background: url(/images/periodental.png);
    height: 330px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 12px;
    margin-top: 41px;
}

@media (min-width: 1200px){
.container {
    max-width: 1165px;
}



}

._new_owl_cat_section ._cat_card {
    margin-top: 0;
}

._new_owl_cat_section ._cat_card_img {
    width: 114px !important;
    margin: 0 auto 33px;
}

@media only screen and (max-width: 767px) {
    ._mobile_cat_section {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    ._desktop_cat_section {
        display: none;
    }
}

._new_owl_cat_section {
    height: 290px;
    top: -90px;
}

._new_owl_cat_section .owl-stage-outer {
    height: 100% !important;
}

._new_owl_cat_section .owl-dots {
    display: none;
}

.ivu-modal-content {
    border-radius: 17px !important;
}

.prime{
    margin-top: 10px;
    display: flex;
    /* justify-content: center; */
    padding-left: 38px;


}
.mobile_prime.prime{
    display: none;
}
.mobile_prime.prime_text{
    display: none;
}

.prime_text{
    padding-left: 9px;
    font-size: larger;
    font-weight: 600;
    color: #000;
}
.prime_review{
    font-size: 14px;
    color: green;
    padding:0 0 0 10px;
    font-weight: 600;
}
.disable_class{
    cursor: not-allowed;
    opacity: .5;

}




.ql-container.ql-snow{
    height: 250px !important;
    overflow-y: auto;
}